@font-face {
    font-family: "Pieces of Eight";
    src: url(fonts/PiecesOfEight.ttf);
}

html {
    scroll-padding-top: 20%;
}

body {
    margin: 0;
    --rouge-pirate: #c92c51;
    --gris-eclipse: #3c3336;
    --gris-matin: #958d8a;
    --bleu-lune: #83a8be;
    --bleu-lune-obscur: #284c60;
    --bleu-lune-obscur-transparent: rgba(40, 76, 96, 0.7);

    background-color: #01111a;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14pt;
}

article>section {
    padding: 40px;
}

header ul {
    background-color: var(--bleu-lune-obscur);
}



article {
    margin: 3%;
    display: flex;
    justify-content: space-around;
    gap: 3%;
}

main>section:not(:first-of-type) {
    padding: 3% 11%;
    margin: 3%;
}

section {
    background-image: url("images/planche.png");
    background-size: 100% 100%;
}

.texte-colonne {
    display: flex;
    align-items: center;
}

.images-carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article>section>p {
    margin-bottom: 4%;
}

h2,
h3 {
    margin: 3% 0;
}

/* BARRE DE NAVIGATION */
nav {
    margin: auto;
}

nav li,
.button-gold {
    font-family: "Pieces of Eight";
    font-size: 20px;
}

nav>ul>li,
.button-gold {
    border-radius: 0.3em;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
        inset 0 -2px 5px rgba(139, 66, 8, 1);
    background-image: linear-gradient(160deg,
            #a54e07,
            #b47e11,
            #fef1a2,
            #bc881b,
            #a54e07);
    border: 1px solid #a55d07;
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
}

nav ul li a,
.button-gold>a {
    padding: 15px 20px;
    display: block;
}

nav>ul>li>a,
.button-gold>a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transition: max-height 0.3s ease-out;
}

nav ul li:hover>ul {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
}

.section-accroche {
    background-image: url("images/fond.webp");
    height: 800px;
}

.section-accroche>div {
    position: absolute;
    top: 30%;
    left: 50%;
}

.section-accroche>div>h1 {
    background-color: var(--rouge-pirate);
    padding: 4px;
}

#img-banniere {
    width: 40%;
    position: relative;
    top: 40%;
}

#milieu {
    height: 400px;
}

#logo {
    padding: 20px;
    width: 5%;
    height: auto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bleu-lune-obscur-transparent);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

footer {
    background-color: var(--bleu-lune-obscur);
    padding: 2%;
}

.images-carousel img,
#section-choix img,
#section-immersion img,
#fin img {
    width: 20%;
    height: auto;
    margin: 20px;
}

#fin {
    display: flex;
}